.card__like-button {
    margin: 0 0 3px 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border: none;
    background-color: unset;
    cursor: pointer;
    background-image: url("../../../../src/images/__like.svg");
    background-size: cover;
    min-width: 22px;
    min-height: 19px;
}

.card__like-button:hover {
    opacity: 50%;
}