.card__delete-button {
    background-image: url("../../../../src/images/__trash.svg");
    position: absolute;
    top: 20px;
    right: 20px;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: unset;
    cursor: pointer;
    background-size: cover;
    min-width: 18px;
    min-height: 19px;
}

.card__delete-button:hover {
    opacity: 60%;
}