.image-popup__container{
    top: 90px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
    margin: 0 auto;
    padding: 0;
    width: fit-content;
}